*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.navbar{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    box-shadow: 0px 0px 15px rgb(255, 255, 255);

}
.logo{
    font-size: 35px;
    font-weight: 800;
}
.menus{
    display: flex;
    align-items: center;
    list-style: none;
  
}
.menus li{
    font-size: 20px;
    color: black;
    padding: 10px 0;
    margin-left: 15px;
   
}
.menus a{
    text-decoration: none;
    color: black;
   
}
.drop{
    position: relative;
}
.down{
    position: absolute;
    background-color: beige;
    width: 140px;
    top: 100px;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    list-style: none;
}
.down li{
    padding: 10px 10px;
    color: black;
}
.down li:hover{
    cursor: pointer;
    background-color: blue;
}
.drop:hover > .down{
   transform: translateY(-60px);
   transition: 1s;
   opacity: 1;
   pointer-events: all;
}
