*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.sect1{
    height: 100vh;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.right{
    height: 100vh;
    width: 90%;
    background-color: black;   
}
.left{
    height: 100vh;
    width: 10%;
    background-color: white;
}

.tittle h1{
    font-size: 42px;
    font-weight: lighter;
    color: white;
    padding: 60px 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    width: 95%;   
}
.card{
   width: 350px;
   height: 270px;
   transition: 0.5s;
   border-top: 1px solid white;
   
}
.card h4{
    font-size: 30px;
    bottom: 30px;
    color: white; 
    padding: 20px 0; 
}
.card p{
    font-size: 20px;
    top: 30px;
    color: white;
    line-height: 30px;
}
button{
    background-color: transparent;
    color: white;
    padding: 30px 0;
    font-size: 18px;
}
#icon{
    margin-right: 15px;
    transition: 0.6s;
}
.card:hover #icon{
    transform: translateX(10px);
    transition: 0.6s;   
}
  